# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientist use are:
-Phyton 
-R
-SQL

Some of the commonly used libraries used by data Scientist include:
-Pandas
-Matplotlib
-ggplot2

Data science Tools 
-Anaconda
-Jupyter
-Rstudio

Below are a few examples of evaluating aritmetic expressions in phyton: 
*
+
/

In [3]:
#This is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60 
print("Hours",200/60)

Hours 3.3333333333333335

Objetives:

*Arithmetic

*Languages

*Tools for data science

*Libraries

*Markdown cells

Cesar Alfonso Gonzalez Valencia

## Autor